.order-item {
    padding: 0px;
    margin: 0px 5px 20px 5px;
    background-color: #eee;
    border-radius: 10px;
}


.order-item-top {
    padding: 0px 10px 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;   
    background-color: rgb(235, 219, 250);
    margin-bottom: 10px;
}

.order-item-footer {
    padding: 0px 10px 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;   
    background-color: rgb(235, 219, 250);

}

.order-name {
    font-size: large;
    margin-left: 5px;
}

.displayTotal {
    font-size: large;
}

.products-title {
    font-size: medium;
}

.product-item {
    padding: 5px;
    margin-left: 20px;
}