.order-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-name {
    font-size: large;
}
.products-title {
    font-size: medium;
}

.product-item {
    padding: 5px;
    margin-left: 20px;
}
